body {
  margin: 0;
  padding: 0;
}
#root {
  margin: 0;
  padding: 0;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/img/main-background.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nolink{
  text-decoration: none;
  color: inherit;
}